.contentWrap {
    padding: 24px;
    text-align: center;
    background-color: #FFFFFF;
    .tableActions {
        margin-bottom: 16px;
        text-align: left;
    }
    .textCenter {
        text-align: center;
    }
    .textRight {
        text-align: right;
    }
}